$bg-color: #151515;
$bg-color-hover-1: #c5c5c5;
$text-color-1: #c5c5c5;
$bg-color-hover-2: rgba(90, 93, 94, 0.3);

.code-area {
    display: flex;
    flex-grow: 4;
    max-width: 720px;
    border-right: 1px solid #252525;
}

.output-area {
    display: flex;
    flex-grow: 3;
}

.custom-sp-layout {
    height: 100vh;
    background: black;
    border: none !important;
    border-radius: 0px !important;
    flex-wrap: nowrap !important;
}

.custom-sp-stack {
    height: 100% !important;
}

.custom-file-explorer {
    height: 100% !important;
}

.custom-code-editor {
    min-width: fit-content;
    width: auto;
}

.buttons {
    background: #252525;
    padding: 0px 12px;
    border-radius: 999px;
    color: #999999;

    &:hover {
        color: $bg-color-hover-1;
    }
}

.description-area {
    height: 100vh;
    display: flex;
    border-right: 1px solid #252525;
    background: $bg-color;
    flex-direction: column;
}

.description-header {
    width: fit-content;
    display: flex;
    gap: 4px;
    padding: 14px;
}

.desc-icons {
    width: 16px;
    height: 16px;
    display: flex;
}

.desc-tabs {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    padding: 8px;
    height: fit-content;
    border-radius: 4px;
    &:hover {
        background: $bg-color-hover-2;
    }
}

.description-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 14px;
    max-width: 480px;
    color: $text-color-1;
}

.desc-post-info {
    display: flex;
    column-gap: 24px;
    row-gap: 12px;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    word-break: break-all;
    max-width: 100%;
}

.author-avt {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.author-info-container {
    display: flex;
    gap: 8px;
}

.languages {
    display: flex;
    gap: 8px;
}

.desc-post-content-scroller {
    display: flex;
    overflow-y: scroll;
}

.desc-post-content {
    font-size: 14px;
}