.file-explorer-plus {
    display: flex;
    flex-direction: column;
    min-width: 180px;
    background: #151515;
    border-right: 1px solid #252525;
}

.files {
    display: flex;
    flex-direction: column;
    gap: 4px;
}  

.file {
    cursor: pointer;
}

.file-explorer-header {
    color: #e5e5e5;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-explorer-title {
    font-weight: 500;
    font-size: 16px;
}

.file-explorer-buttons {
    display: flex;
    gap: 2px;
}

.file-explorer-button {
    width: 26px;
    height: 26px;
    padding: 4px;
    border-radius: 4px;
    &:hover {
        background: rgba(90, 93, 94, 0.3);
    }
}


.file-explorer-input-name {
    width: 100%;
    padding: 0px 12px;

    input {
        padding: 4px 8px;
        border-radius: 4px;
        outline: none;
    }
}